@charset "UTF-8";

$breakpoints: (
    "small": 480px,
    "medium": 768px,
    "large": 1024px,
);

@mixin respond-to($breakpoint) {
    @if map-has-key($breakpoints, $breakpoint) {
        $breakpoint-value: map-get($breakpoints, $breakpoint);

        @media (max-width: $breakpoint-value) {
            @content;
        }
    }
}

;

body {

    .company-bottom {
        margin: 80px auto;

        @include respond-to(large) {
            background-image: url('../img/bg-circle.png');

            @include respond-to(medium) {}
        }
    }

    .president {
        width: 80%;
        margin: 0 auto 80px auto;
        display: flex;

        @include respond-to(medium) {
            display: block;
        }

        .president-img {
            width: 40%;

            @include respond-to(medium) {
                width: auto;
            }

            &__item {
                width: 100%;
            }
        }

        &__text {
            width: 70%;
            line-height: 1.6;
            margin-left: 30px;

            @include respond-to(medium) {
                width: auto;
                margin-left: 0;
            }
        }

        &__name {
            display: block;
            margin-top: 20px;
        }
    }

    .summary {
        width: 100%;
        margin-bottom: 80px;

        &__title {
            color: #7633a4;
            font-size: 40px;
            text-align: center;

            @include respond-to(medium) {
                font-size: 24px;
            }
        }

        .summary-content {
            width: 80%;
            margin: 0 auto 40px auto;
            display: flex;
            border-bottom: solid 1px #dddddd;

            @include respond-to(medium) {
                display: block;
                margin: 20px;
                padding: 20px;
            }

            &__title {
                color: #333333;
                width: 20%;
                margin: 0;
                padding: 40px 10px;

                @include respond-to(medium) {
                    width: auto;
                    margin-bottom: 10px;
                    padding: 0;
                }
            }

            &__text {
                color: #333333;
                margin: 0;
                padding: 40px 10px;

                @include respond-to(medium) {
                    padding: 0;

                }
            }
        }

        .summary-map {
            width: 80%;
            margin: 0 auto;

            iframe {
                width: 100%;
                text-align: center;
            }
        }
    }
}