@charset "UTF-8";

$breakpoints: (
    "small": 480px,
    "medium": 768px,
    "large": 1024px,
);

@mixin respond-to($breakpoint) {
    @if map-has-key($breakpoints, $breakpoint) {
        $breakpoint-value: map-get($breakpoints, $breakpoint);

        @media (max-width: $breakpoint-value) {
            @content;
        }
    }
}

;

.works-container {
    width: 100%;
    margin: 80px 0;
}

.works-list {
    width: 80%;
    margin: 0 auto;
    padding: 0;
    display: flex;
    flex-wrap: wrap;

    @include respond-to(medium) {
        display: block;
        width: 90%;

    }

    &__item {
        width: 30%;
        list-style: none;
        margin-bottom: 30px;
        margin-right: 30px;

        &:nth-child(3n) {
            margin-right: 0;
        }

        @include respond-to(medium) {
            width: 100%;
        }
    }

    &__link {
        text-decoration: none;
        color: #333333;
        display: block;
        text-align: center;
        line-height: 1.8;
    }

    &__img {
        width: 100%;
        height: auto;
    }
}